@{
    /* set custom layout */
    Layout = "~/Views/Shared/_DemoLayout.cshtml";
}

<div class="container card text-center col-md-4 bg-success">
    <h1 class="grey-text">Welcome to HCM City Campus</h1>
    <button class="waves-effect waves-light btn">Click me</button>
</div>
