<div class="container col-md-4 card text-center">
    <form asp-controller="Demo" asp-action="Login" method="POST">
        <h1>User Login</h1>
        <input type="text" placeholder="Enter username" required
               name="username" />
        <br /><br />
        <input type="password" placeholder="Enter password" required name="password" />
        <br /><br />
        <input type="submit" value="Login" />
    </form>
</div>