<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
    <header>
        <p>This is header of custom layout</p>
    </header>

    <div class="container">
        <!-- do not remove the below line -->
        <!-- purpose: render content of each individual page -->
            @RenderBody()
    </div>

    <footer>
        <p>This is footer of custom layout</p>
    </footer>
</body>
</html>
