<div class="container">
    <h6>Greenwich Vietnam campus</h6>
    <ol>
        <li>Hanoi</li>
        <li>HCM City</li>
        <li>Da Nang</li>
        <li>Can Tho</li>
    </ol>

    <table class="table table-danger">
        <tr>
            <th>Student ID</th>
            <th>Student Name</th>
        </tr>
        <tr>
            <td>001</td>
            <td>Minh</td>
        </tr>
        <tr>
            <td>002</td>
            <td>Tuan</td>
        </tr>
        <tr>
            <td>003</td>
            <td>Cuong</td>
        </tr>
    </table>

    <form class="container-fluid text-center mt-3 mb-3 card bg-light" method="post">
        <h1>System Login</h1>
        <div class="form-group mt-3">
            <label>Email</label>
            <input class="form-control" type="email" required />
        </div>
        <div class="form-group mt-3">
            <label>Password</label>
            <input class="form-control" type="password" required />
        </div>
        <div class="form-group mt-3 mb-3" >
            <input class="btn btn-danger" type="submit" value="Login" />
        </div>
    </form>
 
    <img src="https://upload.wikimedia.org/wikipedia/en/thumb/2/26/UEFA_Euro_2024_Logo.svg/220px-UEFA_Euro_2024_Logo.svg.png" />
    <iframe width="220" height="215" src="https://www.youtube.com/embed/7oDskTC69bs?si=OBvORP0rsQjCo1dF" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

</div>