<h1>Greenwich Việt Nam</h1>
<a class="btn" asp-controller="Greenwich" asp-action="HaNoi">Hà Nội campus</a>
<a class="btn btn-outline-danger" asp-controller="Greenwich" asp-action="HCMCity">Hồ Chí Minh campus</a>
<a class="btn btn-outline-primary" asp-controller="Greenwich" asp-action="DaNang">Đà Nẵng campus</a>
<a class="btn btn-outline-warning" asp-controller="Greenwich" asp-action="CanTho">Cần Thơ campus</a>
