<h1>Tears, hugs and a salute as three freed Americans back on US soil after historic prisoner swap with Russia
</h1>
<p>
   Wall Street Journal reporter Evan Gershkovich, former US Marine Paul Whelan and Russian-American journalist Alsu
   Kurmasheva have landed in the United States, following the biggest prisoner exchange between Russia and the West since
   the Cold War.

   The returnees were greeted with tears and embraces by their joyous families at Joint Base Andrews in Maryland, where
   President Joe Biden and Vice President Kamala Harris were also on the tarmac to welcome them after their plane touched
   down some 20 minutes before midnight on Thursday.
   <img src="https://media.cnn.com/api/v1/images/stellar/prod/ap24215142425010.jpg?q=w_1015,c_fill/f_webp">

   Whelan, who was first to exit the plane, gave a salute before shaking hands with the US leaders, followed by
   Gershkovich, who embraced both Harris and Biden before hugging his ecstatic parents. Kurmasheva rushed into the arms of
   her husband and daughters after greeting Harris and Biden.
</p>
